<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Member #{{ member.id }}</title>
</head>
<body>
  <h1>Member #{{ member.id }}</h1>

  {% comment %} Estos comentarios no llegan al HTML final {% endcomment %}
  {% comment %} Bucle for para presentar los datos de queryset Member: {% endcomment %}

  <!-- Este comentario si llega al HTML -->
  
  <div style="border:1px solid black; padding:1rem; width: 50%; margin: 1rem auto;">
    <h3 style="margin-top:0; text-align:center;">Member: {{ member.id }}</h3>
    <p><strong>Nombre completo:</strong> {{ member.firstname }}, {{ member.lastname }}</p>
    {% comment %} verifica si hay dato en phone, None cuenta como False {% endcomment %}
    {% if member.phone %}
      <p><strong>Teléfono:</strong> {{ member.phone }}</p>
    {% endif %}
  </div>
  <hr>
  
  <p>
    {% comment %} usamos name de la ruta en urls.py para hacer el enlace {% endcomment %}
    <a href="{% url 'index' %}">Volver a inicio</a>
  </p>
</body>
</html>