<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>
</head>
<body>
  <h1>Members</h1>

  {% comment %} Estos comentarios no llegan al HTML final {% endcomment %}
  {% comment %} Bucle for para presentar los datos de queryset Member: {% endcomment %}

  <!-- Este comentario si llega al HTML -->
  <ul>
  {% for member in members %}
    <li>
      {{ member.id }} - {{ member.firstname }}, {{ member.lastname }}
    </li>
  {% endfor %}
  </ul>
  
  <hr>
  
  <p>
    <a href="/">Volver a inicio</a>
  </p>
</body>
</html>