{% extends "master.html" %} {% comment %} Etiqueta para "usar" master.html {% endcomment %}

{% block title %}Members{% endblock %}


{% block content %}
  <h1>Members</h1>

  {% comment %} Estos comentarios no llegan al HTML final {% endcomment %}
  {% comment %} Bucle for para presentar los datos de queryset Member: {% endcomment %}

  <!-- Este comentario si llega al HTML -->
  <ul>
  {% for member in members %}
    <li>
      <a href="{% url 'members-detail' id=member.id %}">{{ member.id }} - {{ member.firstname }}, {{ member.lastname }}</a>
    </li>
  {% endfor %}
  </ul>
  
  <hr>
  
  <p>
    {% comment %} usamos name de la ruta en urls.py para hacer el enlace {% endcomment %}
    <a href="{% url 'index' %}">Volver a inicio</a>
  </p>
{% endblock %}